@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Creepster&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Creepster&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Creepster&family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './header.css';

* {
    font-family: 'roboto';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

#container3d {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;

}

#container2d {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    opacity: 1;
    pointer-events: none;
    /* Allows mouse events to pass through */
    transition: clip-path 0.3s ease, opacity 0.3s ease;
    clip-path: circle(0% at center);
    /* Initial clip-path hides the overlay */
}

.overlay:hover {
    clip-path: circle(100px at var(--mouse-x) var(--mouse-y));
    /* Show overlay around mouse position */
    opacity: 0.8;
}

#playmusic {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: max-content;
    height: max-content;
    top: 95%;
    left: 4%;
    border: none;
    background: none;
}

#stopmusic {
    color: rgba(255, 255, 255, 0.5);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: max-content;
    height: max-content;
    top: 95%;
    left: 4%;
    border: none;
    background: none;
}



.cursor-trigger {
    display: inline-block;
    width: max-content;
    height: max-content;
    background-color: transparent;
    margin: 0 5px;
}


.mouse-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.1s ease, left 0.1s ease;
    z-index: 15;
    mix-blend-mode: difference;
    /* Blend mode for white circle on top of other content */
}


.mouse-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.1s ease, left 0.1s ease;
    z-index: 999;
    mix-blend-mode: difference;
    /* Blend mode for white circle on top of other content */
}

.mouse-baby {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.1s ease, left 0.1s ease;
    z-index: 999;
    mix-blend-mode: difference;
    /* Blend mode for white circle on top of other content */
}


/* animation d'entrée de page */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loading-container {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-align: center;
}

.loading-bar {
    border-radius: 20px;
    width: 0;
    height: 5px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.counter {
    font-family: 'roboto';
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

/* popup de la musique */


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

.popup h2 {
    font-family: 'roboto';
    margin-bottom: 10px;
}

.popup button {
    margin: 5px;
    padding: 10px 20px;
    background: none;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #3f3f3f;
}

.pres {
    position: absolute;
    top: 25%;
    left: 6%;
}

.pres p {
    font-family: 'roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    text-indent: 1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 120px;
}

.pres .change {
    color: rgba(255, 255, 255, 0.8);
    font-size: 150px;
    font-family: 'playfair', sans-serif;
    font-style: italic;
}

.canva2 {
    position: fixed;
    top: 15%;
    right: -144%;
}

.canva2 p {
    font-family: 'playfair', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255);
    font-size: 150px;
    font-style: italic;
}

.canva2 .change {
    color: rgb(255, 46, 81);
    font-size: 150px;
    font-weight: 200;
    font-family: 'playfair', sans-serif;
}

.reseau {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 95%;
    right: 4%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reseau a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.reseau a:hover,
#stopmusic:hover {
    color: rgba(255, 255, 255);
}

/* .fisrtname {
    display: flex;
    align-items: center;
    font-family: 'playfair', sans-serif;
    font-size: 100px;
    color: #3f3f3f;
    position: absolute;
    right: 1%;
    top: 25%;
    line-height: 0.8;
    text-align: center;
    text-transform: uppercase;
}

.lastname {
    text-align: center;
    font-family: 'playfair', sans-serif;
    font-size: 100px;
    color: #3f3f3f;
    position: absolute;
    right: 4%;
    top: 30%;
    line-height: 0.8;
    text-transform: uppercase;
} */





.canva2work {
    position: fixed;
    top: 20%;
    left: -140%;
    width: 80vw;
}


.project-title h1 {
    color: white;
    font-weight: 300;
    font-size: 45px;
    /* font-family: 'roboto';
    font-style: italic; */
    font-family: 'playfrai';
    font-style: italic;
    font-weight: 300;
}

.project-categ {
    font-weight: lighter;
    font-family: 'roboto';
    font-weight: 200;
}

.curso {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: scale(0.1);
    opacity: 0;
    margin: -100px 0 0 -100px;
    background: url(img.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
}

.wrapper {
    width: 80%;
    margin: 180px auto;
    height: 100%;
}

.project {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.502);
    mix-blend-mode: difference;
}

.project:hover {
    border-bottom: 1px solid rgba(255, 46, 81, 0.027);
    ;
    background-image: linear-gradient(transparent, rgba(255, 46, 81, 0.027));
    color: rgb(255, 255, 255);

}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.citation {
    font-size: 1.25rem;
    color: white;
    position: absolute;
    height: auto;
    left: 15%;
    top: 2.3%;
}

.citation p {
    font-family: "Ubuntu", sans-serif;
    text-indent: 2.5rem;
    color: hsla(0, 0%, 100%, .5);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
    font-style: italic;
}

.citation span {
    font-size: 1.875rem;
    color: hsla(0, 0%, 100%, .6);
    font-family: "playfrai";
    font-style: italic;

}

.canva3about {
    z-index: 800;
    position: fixed;
    top: 20%;
    left: -140%;
    width: 80vw;
    height: 50vh;
    background-color: white;
}

.canva3about .name {
    position: absolute;
    top: 10%;
    left: -15%;
    font-family: "Ubuntu", sans-serif;
    text-indent: 10.5rem;
    color: hsla(0, 0%, 100%, 0.438);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 7.5rem;
    font-style: italic;
}

.canva3about .name .p1 {
    text-indent: 20.5rem;
}

.canva3about .name .p2 {
    text-indent: 5.5rem;
}

.canva3about .name .p3 {
    text-indent: 22.5rem;
}

.canva3about .name .p4 {
    text-indent: 7.5rem;
}

.canva3about .name span {
    font-size: 8.2rem;
    color: hsla(0, 0%, 100%, 0.767);
    font-family: "playfrai";
    font-style: italic;
    font-weight: 200;
}

.canva3about .tech {
    position: absolute;
    top: 70%;
    left: 10%;
    font-family: "Ubuntu", sans-serif;
    color: hsla(0, 0%, 100%, .5);
    text-transform: uppercase;
    text-indent: 2em;
    font-weight: 200;
    font-size: 3.5rem;
    font-style: italic;
}

.canva3about .tech span {
    font-size: 4.2rem;
    color: hsla(0, 0%, 100%, .6);
    font-family: "playfrai";
    font-style: italic;
    font-weight: 200;
}



.canva3about #competence {
    position: absolute;
    top: 90%;
    left: 50%;

}

.canva3img {
    position: fixed;
    top: 10%;
    right: -140%;
    width: 30vw;
    height: 80vh;
    background-color: white;
}

.canva3img .wrapperImg {
    display: flex;
    align-content: end;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
}

.canva3img .wrapperImg canvas {
    width: 100%;
    height: 100%;
}


.hero-title {
    position: absolute;
    top: 7%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.hero-title .letter {
    display: inline-block;
    opacity: 0;
    color: rgb(255, 46, 81);
    font-family: "Dancing Script";
    font-size: 55px;
    font-style: italic;
}


.canva4contact {
    position: fixed;
    top: 0%;
    height: 100vh;
    left: -140%;
    width: 100vw;
}

.canva4contact .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 7em;
}


.canva4contact .contact a {
    font-style: italic;
    text-decoration: none;
    color: #ffffff79;
    font-family: "Dancing Script";
    transition: 0.3s;
}

.canva4contact .contact a:hover {
    color: #ffffff;
}







.test {
    width: 50%;
    height: 50%;
    background-color: #ffffff;
}